Flask
pyotp
qrcode
gunicorn
web3
tronpy
requests
firebase-admin==6.1.0 # Pin to a stable version
grpcio==1.64.1 # Pin to a specific version that often has pre-built wheels
grpcio-tools==1.64.1 # Pin to a specific version
python-dotenv # For loading .env files locally