Flask
pyotp
qrcode
gunicorn
web3
tronpy
requests
firebase-admin==6.1.0
grpcio>=1.74.0,<1.75.0  # Use a newer, more stable range
grpcio-tools>=1.74.0,<1.75.0 # Use a newer, more stable range
python-dotenv
